.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    bottom: 240px;
    z-index: 2;
  }
  
  .baloon {
    position: absolute;
    right: 400px;
    z-index: 3;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    right: 430px;
    bottom: 550px;
    z-index: 4;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 5;
    bottom: 400px;
    right: 200px;
  }